* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 835px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}
header {
  padding-top: 40px;
  padding-bottom: 35px;
  background-image: url(../images/blue_circle.png), url(../icon/yellow_circle.svg), url(../icon/small_circle_blue.svg), url(../images/pink_circle.png);
  background-repeat: no-repeat;
  background-position: right 116px, 230px 321px, 284px 453px, right 784px;
  background-size: auto;
}
header .navbar {
  display: flex;
  gap: 83px;
  align-items: center;
  margin-bottom: 103px;
}
header .navbar .nav_left {
  display: flex;
}
header .navbar .nav_left ul {
  display: none;
}
header .navbar .nav_left .navbar_log {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .navbar .nav_right button {
  display: none;
}
header .hero_left {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: start;
}
header .hero_left h1 {
  color: #292930;
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 99.327%;
  letter-spacing: -1.5px;
}
header .hero_left .line {
  display: inline-block;
  width: 25%;
  border-bottom: 3px solid #5956e9;
}
header .hero_left p {
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
header .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 113px;
}
header .action button {
  padding: 29px 36px;
  border-radius: 20px;
  background: #5956e9;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
  cursor: pointer;
}
header .action .see_action {
  border-radius: 16px;
  border: 1px solid #e3e6e9;
  padding: 24px;
}
header .action .see_action a {
  display: none;
}
header .scroll {
  display: flex;
  align-items: center;
  gap: 16px;
}
header .scroll a {
  color: #999fae;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.375px;
}
header .hero_rigth {
  position: relative;
  display: flex;
  justify-content: center;
}
header .hero_rigth .hero_img1 {
  max-width: 400px;
}
header .hero_rigth .hero_img2 {
  position: absolute;
  top: 264px;
  transform: translateX(111px);
  max-width: 77px;
}
header .hero_rigth .hero_img3 {
  position: absolute;
  top: 25px;
  transform: translateX(99px);
  max-width: 141px;
}

@media screen and (min-width: 700px) {
  header .navbar {
    gap: 380px;
  }
  header .hero_left h1 {
    font-size: 75px;
  }
  header .hero_left .line {
    border: 5px solid #5956e9;
  }
  header .hero_left p {
    font-size: 20px;
    max-width: 406px;
  }
  header .action {
    gap: 244px;
  }
}
@media screen and (min-width: 835px) {
  header .hero_left h1 {
    max-width: 800px;
    font-size: 80px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    background-image: url(../icon/yellow_circle.svg), url(../icon/small_circle_blue.svg), url(../images/blue_circle_big.png), url(../icon/yellow_ellipse.png), url(../icon/pinc_circleee.png);
    background-repeat: no-repeat;
    background-position: 511px 285px, 536px 724px, right, left top, 718px 943px;
    background-size: 100px, 40px, auto, auto, auto;
  }
  header .navbar {
    gap: 72px;
  }
  header .navbar .nav_left {
    gap: 59px;
    align-items: center;
  }
  header .navbar .nav_left ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 55px;
  }
  header .navbar .nav_left ul a {
    color: #292930;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  header .navbar .nav_left ul a:hover {
    border-bottom: 5px solid #5956e9;
  }
  header .navbar .nav_left .navbar_log i {
    display: none;
  }
  header .navbar .nav_right {
    display: flex;
    align-items: center;
    gap: 67px;
  }
  header .navbar .nav_right button {
    padding: 24px 29px;
    display: block;
    border-radius: 20px;
    background: #fab8c4;
    color: #2522ba;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
  header .hero {
    display: flex;
    align-items: center;
  }
  header .hero_left h1 {
    color: #292930;
    font-family: "DM Sans", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 99.327%;
    letter-spacing: -2.4px;
    width: 426px;
  }
  header .hero_left p {
    font-size: 18px;
    max-width: 378px;
  }
  header .action {
    gap: 32px;
  }
  header .action .see_action {
    display: flex;
    align-items: center;
    gap: 16px;
    border: none;
    padding: 0;
  }
  header .action .see_action a {
    display: block;
    color: #999fae;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
  header .hero_rigth .hero_img1 {
    max-width: 650px;
    transform: translateY(-87px);
  }
  header .hero_rigth .hero_img3 {
    top: -69px;
    transform: translateX(251px);
    max-width: 220px;
  }
  header .hero_rigth .hero_img2 {
    top: 371px;
    transform: translateX(175px);
    max-width: 95px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-image: url(../icon/yellow_circle.svg), url(../icon/small_circle_blue.svg), url(../images/blue_circle_big.png), url(../icon/yellow_ellipse.png), url(../icon/pinc_circleee.png), url(../icon/small_pinc.png);
    background-repeat: no-repeat;
    background-position: 634px 285px, 536px 724px, right, left top, 718px 943px, 50px 438px;
    background-size: 100px, 40px, auto, auto, auto, auto;
  }
  header .navbar {
    gap: 180px;
  }
  header .navbar .nav_right button {
    padding: 24px 22px;
  }
  header .hero_left .line {
    width: 35%;
    border-bottom: 5px solid #5956e9;
  }
  header .see_action img {
    width: 34px;
  }
}
.features {
  background-image: url(../icon/ellipse_grain/Ellipse.png), url(../images/Ellipse_big.png), url(../images/bacround_line1.png);
  background-repeat: no-repeat;
  background-position: right 59px, 84px 431px, right 0;
  background-color: #27272e;
  color: #ffffff;
  padding: 78px 0;
}
.features .features_left h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 99.327%;
}
.features .features_left .number_text {
  display: none;
}
.features .features_left .right_lefticon {
  display: none;
}
.features .features_right .top_text h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}
.features .features_right .top_text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.features .features_right .top_text .none_text_number {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 55px;
}
.features .features_right .top_text .none_text_number .number_text1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.features .features_right .top_text .none_text_number .number_text1 p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 99.327%;
  letter-spacing: -0.35px;
}
.features .features_right .top_text .none_text_number .number_text1 .line2 {
  width: 50px;
  height: 1px;
  background-color: white;
}
.features .features_right .right_lefticon1 img {
  max-width: 80px;
}
.features .features_right .bottom_text .calendar {
  display: none;
}
.features .features_right .bottom_text .photos h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.9px;
  margin-top: 42px;
  margin-bottom: 24px;
}
.features .features_right .bottom_text .photos p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.375px;
  margin-bottom: 31px;
}
.features .features_right .bottom_text .photos span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.64px;
}

@media screen and (min-width: 700px) {
  .features .black_background {
    display: flex;
    gap: 100px;
  }
  .features .features_left {
    margin-top: 26px;
  }
  .features .black_background {
    display: flex;
    flex-direction: row;
    gap: 144px;
    align-items: start;
  }
  .features .features_left {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }
  .features .features_left h4 {
    margin-bottom: 400px;
  }
  .features .features_left .number_text {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 142px;
  }
  .features .features_left .number_text .line2 {
    width: 50px;
    height: 2px;
    background-color: white;
  }
  .features .features_left .right_lefticon {
    display: block;
  }
  .features .features_right {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
  .features .features_right .top_text h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.7px;
  }
  .features .features_right .top_text p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 449px;
  }
  .features .features_right .top_text .none_text_number .number_text1 {
    display: none;
  }
  .features .features_right .top_text .none_text_number .right_lefticon1 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .features {
    background-image: url(../images/powerful_ellipse.png), url(../images/circlee.png), url(../images/Line_radius.png), url(../images/circle11.png), url(../images/circlee12.png);
    background-position: right 126px, 30px top, -50px 249px, left 518px, 193px 54px;
  }
  .features .black_background {
    display: flex;
    flex-direction: row;
    gap: 144px;
    align-items: start;
  }
  .features .features_left {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }
  .features .features_left h4 {
    margin-bottom: 529px;
  }
  .features .features_left .number_text {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 142px;
  }
  .features .features_left .number_text .line2 {
    width: 50px;
    height: 2px;
    background-color: white;
  }
  .features .features_left .right_lefticon {
    display: block;
  }
  .features .features_right {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .features .features_right .top_text h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 68px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.7px;
  }
  .features .features_right .top_text p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    max-width: 449px;
  }
  .features .features_right .top_text .none_text_number .number_text1 {
    display: none;
  }
  .features .features_right .top_text .none_text_number .right_lefticon1 {
    display: none;
  }
  .features .features_right .bottom_text {
    display: flex;
    gap: 100px;
  }
  .features .features_right .bottom_text .calendar {
    display: block;
  }
  .features .features_right .bottom_text .calendar h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.9px;
    margin-top: 13px;
    margin-bottom: 24px;
  }
  .features .features_right .bottom_text .calendar p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.375px;
    margin-bottom: 31px;
  }
  .features .features_right .bottom_text .calendar span {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    background-image: url(../images/circlee13.png), url(../images/circlee.png), url(../images/toll_line.png), url(../images/circlee14.png), url(../images/circlee12.png);
    background-position: 888px 145px, 159px top, -50px 249px, 54px 518px, 286px 88px;
    padding-top: 150px;
  }
  .features .features_left h4 {
    font-size: 20px;
  }
  .features .features_right .bottom_text .photos h3 {
    font-size: 24px;
  }
  .features .features_right .bottom_text .photos p {
    font-size: 16px;
  }
  .features .features_right .bottom_text .calendar h3 {
    font-size: 24px;
  }
  .features .features_right .bottom_text .calendar p {
    font-size: 16px;
  }
  .features .features_right .top_text h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2px;
  }
}

/*# sourceMappingURL=main.css.map */
